/* === Базові стилі === */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 24px;
  text-align: left;
}

/* === Контейнер основного контенту === */
.main-container {
  max-width: 600px;
  margin: 64px auto;
  padding: 0 20px;
}

/* === Хедер === */
header {
  height: 64px;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  align-items: center;
}

.sub-header {
  width: 100%;
  background: white;
  padding: 0 20px;
}

.sub-header-inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
}

.sub-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sub-header-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #131314;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
}

.back-arrow {
  width: 20px;
  height: 20px;
}

/* === Поле вводу та дропдаун === */
.input-group {
  margin-bottom: 24px;
  text-align: left;
  position: relative;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  background: #F6F6F6;
  border: none;
  border-bottom: 1px solid #B0B0B2;
  font-family: 'Inter', sans-serif;
}

.input-group input::placeholder {
  color: #6F6F71;
  font-size: 14px;
}

.input-group input.invalid {
  border-bottom: 2px solid #D03504;
}

.input-error {
  color: #D03504;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

/* === Чекбокс === */
.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 24px;
}

.checkbox-wrapper {
  flex-shrink: 0;
}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #131314;
  border-radius: 0;
  cursor: pointer;
  appearance: none;
  position: relative;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: #006DD9;
  border-color: #006DD9;
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

.checkbox-group label {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.checkbox-group input[type="checkbox"].invalid,
.checkbox-wrapper.invalid input[type="checkbox"] {
  border: 2px solid #D03504;
}

/* === Кнопки === */
.button-group {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  justify-content: flex-end;
}

.btn {
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  padding: 0 24px;
  cursor: pointer;
  border: none;
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  background: #006DD9;
  color: white;
}

/* === Дропдаун === */
.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  border-radius: 0 0 8px 8px;
  z-index: 10;
  margin-top: 2px;
  min-width: 100%;
  border: 1px solid #E0E0E0;
}

.dropdown-item {
  padding: 12px 16px 8px 16px;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #F0F0F0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: #F5F9FF;
}

.dropdown-title {
  font-size: 14px;
  font-weight: 400;
  color: #131314;
  margin-bottom: 4px;
}

/*.dropdown-publisher {
  font-size: 14px;
  font-weight: 400;
  color: #39393A;
  margin-bottom: 4px;
}*/

.dropdown-issn {
  font-size: 12px;
  font-weight: 400;
  color: #6F6F71;
}

.journal-info {
  padding: 20px;
  border: 1px solid #E8E8E8;
  margin-bottom: 24px;
}

.medium-heading {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.publisher {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #39393A;
  margin-bottom: 16px;
}

.metadata {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6F6F71;
  margin-bottom: 16px;
}

.metrics {
  display: flex;
  align-items: center;
  gap: 16px;
}

.metric {
  display: flex;
  align-items: center;
  gap: 4px; /* відстань між числом і назвою метрики */
}

.metric-number {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #131314;
}

.metric-label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #131314;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #E8E8E8;
}

/* --- МОДАЛЬНЕ ВІКНО LOG IN ---*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 20, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 32px 24px;
  border-radius: 0px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

#loginForm, #signupForm {
  margin-top: 24px;
}

.input-group-modal {
  margin-bottom: 16px;
}

.input-hint {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #39393A;
  margin-top: 4px;
}

.separator-text {
  font-size: 14px;
  font-weight: normal;
  margin: 8px 0;
  text-align: center;
}

.btn-google {
  background: transparent;
  color: #006DD9;
  border: 1px solid #006DD9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 32px;
  border-radius: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

.btn-icon {
  width: 20px;
  height: 20px;
}

#loginTitle {
  margin-bottom: 24px;
}

#loginButton, #createAccountButton, #continueWithCodeButton {
  width: 100%;
}

#signupPrompt {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #39393A;
  text-align: center;
  margin-top: 24px;
}

.signup-link {
  color: #006DD9;
  text-decoration: none;
}

.signup-link:hover,
.signup-link:focus {
  text-decoration: none;
  color: #006DD9;
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-close-button img {
  width: 32px;
  height: 32px;
}

.row-inputs {
  display: flex;
  gap: 16px;
}

.row-inputs .input-group {
  flex: 1;
}

#signinPrompt {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #39393A;
  text-align: center;
  margin-top: 24px;
}

.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.4); /* світлий фон */
  border-top-color: #ffffff; /* білий */
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
}

.spinner.small {
  width: 16px;
  height: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* --- СТОРІНКА ADDITIONAL INFO ---*/

textarea {
  width: 100%;
  min-height: 80px;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  background: #F6F6F6;
  border: none;
  border-bottom: 1px solid #B0B0B2;
  font-family: 'Inter', sans-serif;
  resize: vertical;
}

textarea::placeholder {
  color: #6F6F71;
  font-size: 14px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
}

textarea.invalid {
  border-bottom: 2px solid #D03504;
}

.redirect-message {
  text-align: center;
}

.redirect-message h1,
.redirect-message p {
  text-align: center;
  margin-bottom: 16px;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#line1 {
  margin-bottom: 0px;
}

#line2 {
  margin-top: 4px;
}

#spamHintPage {
  margin-top: 24px;
  font-size: 14px;
}

#noJournalEmailLink {
  font-size: 14px;
}

.checkout-body {
  background-color: #F6F6F6;
}

.checkout-container {
  max-width: 980px;
  margin: 64px auto;
  padding: 0 20px;
  display: flex;
  gap: 20px;
}

.checkout-left {
  width: 600px;
}

.checkout-right {
  width: 360px;
}

/* --- СТОРІНКА CHECKOUT ---*/

.card {
  background: #ffffff;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.card-header {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #131314;
}

.card-body {
  padding: 20px;
}

.card-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
}

body[data-page="checkout"] .input-group {
  margin-bottom: 16px;
}

.summary-secondary-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6F6F71;
  margin: 4px 0 16px 0;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.summary-label,
.summary-value {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #131314;
}

.summary-bullets {
  padding-left: 20px;
  margin: 16px 0 0 0;
}

.summary-bullets li {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #131314;
  margin-bottom: 16px;
}

.summary-bullets li:last-child {
  margin-bottom: 0px;
}

.divider-horizontal-right-column {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin: 20px 0;
}

.card-collapsed .card-body,
.card-collapsed .card-footer,
.card-collapsed .divider-horizontal {
  display: none;
}
